<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All posts</title>
</head>
<body>
    <div id="{{txt_file_id}}">
        <h1>{{author_name}}</h1>
        <p>{{post}}</p>
        <img alt="70px" src="{{img_path}}">
        <br/>
        <form method="get" action="/edit_post/{{post_id}}">
            <button type="submit">Edit</button>
        </form>
        <form method="post" action="/remove_post/{{post_id}}">
            <button type="submit">Remove</button>
        </form>
        <form method="get" action="/add_comment/{{post_id}}">
            <button type="submit">Add comment</button>
        </form>
        <form method="get" action="/show_comments/{{post_id}}">
            <button type="submit">Show comments</button>
        </form>
    </div>
    <br>
    <hr/>
    <a href="/create">Создать пост</a>
</body>
</html>