@model SocialNet.ViewModels.CommentCreateModel
 
<h2>Создать комментарий</h2>

<form asp-route-id="@ViewBag.CommentId" asp-action="Edit" asp-controller="Comment" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="CommentText">Type comment text</label>
            <input value="@ViewBag.CommentText" type="text" asp-for="CommentText" />
            <span asp-validation-for="CommentText" />
        </div>
        <div class="form-group">
            <input type="submit" value="Edit comment" class="btn btn-outline-dark" />
        </div>
    </div>
</form>